* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(create_an_image_with_plain_cre.jpeg);
    height: 100vh;
    width: 100wh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes container {
    0% {
        transform: translateY(0) scale(1);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
    50% {
        transform: translateY(-20px) scale(1.1);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    }
    100% {
        transform: translateY(0) scale(1);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
}

.container1, .container2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px double #7ab5e9;
    background-color: #f5e5d6;
    border-radius: 30%;
    animation: container 2s infinite;
}

.container1 {
    height: 330px;
    width: 495px;
}

.container2 {
    height: 300px;
    width: 460px;
}

.container1:hover {
    border: 8px dashed #c15d24;
    transition: all 0.1s;
    animation-play-state: paused;
    transform: translateY(-20px) scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.container2 button {
    margin-top: -28px; 
    margin-right: 0px;
    margin-left:150px;
    margin-bottom: 0px;
}

.data {
    position: absolute;
}

.data h1 {
    position: relative;
    left: 12px;
    margin: 5px 46px 54px 60px;
}

#person {
    position: relative;
    top: 26px;
    font-size: 1.3em;
    font-weight: 200;
}

#DOB {
    position: relative;
    top: 27px;
    margin: 20px;
    font-size: 20px;
    font-weight: 200;
}

#dob-input {
    cursor: pointer;
}

#start {
    height: 50px;
    width: 150px;
    border: 2px solid black;
    border-radius: 25%;
    font-weight: bolder;
    font-size: 1.25em;
    position: relative;
    top: 34px;
    left: 90px;
    background-color: #386FA4;
    cursor: pointer;
    color: rgb(229, 241, 227);
    margin: -63px 0px 0px 64px;
}

#start:hover {
    background-color: #133C55;
    transition-timing-function: ease-in-out;
    color: #f4e73f;
}

.countdown {
    position: relative;
    top: -25px;
    left: 3px;
    padding-top: 40px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: -27px 17px 0px -65px;
}

#person.details {
    margin: -54px 0px 23px 37px;
}

#DOB.details {
    margin: -6px 0px 20px 55px;
}

.time {
    margin: 0px 6px 0px 0px;
}

.startButton {
    height: 50px;
    width: 150px;
    border: 2px solid black;
    border-radius: 25%;
    font-weight: bolder;
    font-size: 1.25em;
    background-color: #386FA4;
    cursor: pointer;
    color: rgb(229, 241, 227);
    margin: 20px 0px 0px 39px; /* Adjust margin as needed */
}

.startButton:hover {
    background-color: #133C55;
    transition-timing-function: ease-in-out;
    color: #f4e73f;
}

@media screen and (max-width: 600px) {
     .container2 {
        max-width: 95%;
        width: 90%;
    }

    .container1{
        max-width: 95%;
        width: 90%;
    }

    #start{
        margin:-22px 0px 0px -5px;
    }

    .data h1{
        margin:17px 10px 50px 29px;
        font-size: 26px;
    }
#person.details{
    margin:-61px 0px 25px 52px;
}
.countdown{
    font-size: 14px;
    
}

.container2 button{
    margin:-31px 0px 0px 100px;
}
.container2{
    border-radius: 33%;
}
}

@media screen and (max-width: 380px) {
    .container2 {
        max-width: 95%;
        width: 90%;
    }

    .container1{
        max-width: 95%;
        width: 90%;
    }

    #start{
        margin:0px 0px 32px -11px;
    }

    .data h1{
        margin:12px 10px 50px 48px;
        font-size: 22px;
        
    }
#person.details{
    margin:-44px 0px 20px 60px;
}
.countdown{
    font-size: 9px;
}

.container2 button{
    margin:-37px 0px 0px 87px;
}
.container2{
    border-radius: 33%;
}
 
}



